/* .producttag{
    display:grid;
    grid-template-rows: 20% 40% 40%;
    gap:20px;
    height:200px;
    width:700px;
    border-bottom:2px solid black;
    
}

button{
    height: 40px;
}
.button {
    
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
 
    gap:10px;
}
  */